<div>
    <h3 style="text-align: center; font-size: 20px; margin-top: 20px; font-weight: bold;">Admin Page</h3>
    <ul nz-menu nzMode="inline">
        <a nz-menu-item [routerLink]="'/products'" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }">
            Mahsulotlar
        </a>
        <a nz-menu-item [routerLink]="'/product-categories'" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }">
            Mahsulotlar kategoriyasi
        </a>
        <a nz-menu-item [routerLink]="'/sales'" routerLinkActive="ant-menu-item-selected" [routerLinkActiveOptions]="{ exact: true }">
            Sotuvlar
        </a>
    </ul>

</div>